# This is a sample dotenv file for local development.
# If you're setting up your local environment for the first time, copy this file to ".env" and configure it to your liking.
# Do not commit your local .env file to the repository, especially if it contains secrets like passwords!

# Enables debug mode. You probably want this to be set to true in local development, but not in live deployment.
VF_DEBUG=true

# The following settings tell Votefinder how to connect to the database. You can choose between using MySQL or SQLite.
# If you are setting up locally and don't already have a database you want to use, selecting SQLite is probably easiest,
# as it should work out of the box with no additional dependencies.

# Uncomment to use SQLite.
# VF_DATABASE_DRIVER=sqlite
# VF_SQLITE_FILENAME=votefinder.sqlite3

# Uncomment and insert your database credentials here to use MySQL.
# You can also specify VF_MYSQL_PORT if you want to connect to a non-default port.
# VF_DATABASE_DRIVER=mysql
# VF_MYSQL_HOST=
# VF_MYSQL_USER=
# VF_MYSQL_PASS=
# VF_MYSQL_NAME=

# Uncomment and specify a file path to enable logging. Valid log levels are DEBUG, INFO, WARNING, ERROR and CRITICAL.
# VF_LOG_LEVEL=DEBUG
# VF_LOG_FILE_PATH=/var/log/vf_debug.log

# If you want to enable integration with the Something Awful forums locally, uncomment and set these values to a valid account on the site.
# VF_SA_USER=
# VF_SA_PASS=

# Put the domain or domains Votefinder will be accessed from here
# VF_DOMAINS=