{% extends "base.html" %}
{% block title %}Votefinder: Add Game{% endblock %}

{% block content %}
    <h1><a href="/">Votefinder</a>: Add a Game</h1>
    <hr>

    Enter the full url of the forum thread to be added:
    <form action="/add_game" method="POST">
        <input id="textURL" type="text" name="textURL" maxlength="256"/>
        <p>Is the game still recruiting, or has it started?</p>
        <label for="pregame">Game is recruiting</label>
        <input type="radio" id="pregame" name="isAlreadyStarted" value="pregame" checked="checked"/>
        <label for="started">Game is active</label>
        <input type="radio" id="started" name="isAlreadyStarted" value="started" />
        
        <button type="submit" id="addButton">Add</button>
        {% csrf_token %}
    </form>
{% endblock %}