{% extends "base.html" %}
{% block title %}Votefinder: Your Profile{% endblock %}
{% block content %}
    <h1><a href="/">Votefinder</a>: Profile: {{ player.name|safe }}</h1>
    <p>Registered: {{ profile.registered }}</p>
    {% if player.sa_uid is not None %}
    (<a href="https://forums.somethingawful.com/member.php?action=getinfo&userid={{ player.sa_uid }}">jump to SA
    profile</a>)
    {% endif %}
    {% if player.bnr_uid is not None %}
    (<a href="https://breadnroses.net/members/{{ player.bnr_uid }}">jump to BNR
        profile</a>)
    {% endif %}
    {% if player.bnr_uid is None or player.sa_uid is None %}
    <p>Link New Forums Profile: </p>
    <a href="/auth/link_profile">Click here</a>
    {% endif %}
    <hr>

    <form action="/update_user_profile/" method="POST">
        {% csrf_token %}
    <table border="0" cellpadding="3" cellspacing="2">
        <tr>
            <td><label for="theme-selector">Theme</label></td>
            <td><select class="form-control" id="theme-selector" name="theme_id">
                {% for t in themes %}
                <option value="{{ t.id }}" {% if t.id == profile.theme.id %} selected="selected" {% endif %}>{{ t.name }}</option>
                {% endfor %}
                </select></td>
		</tr>
		<tr>
			<td><label for="pronouns">Pronouns</label></td>
			<td><input class="form-control" id="pronouns" type="text" name="pronouns" value="{% if profile.pronouns %}{{ profile.pronouns }}{% endif %}" /></td>
		</tr>
        <tr>
            <td><label for="discord-username">Discord username</label></td>
            <td><input class="form-control" id="discord-username" type="text" name="discord_username" value="{% if profile.discord_username %}{{profile.discord_username}}{% endif %}"/></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Update Profile">
            </td>
        </tr>		
    </table>
</form>
<tr>
    <td>Change Password:</td>
    <td><a href="/auth/password_change">Click here</a></td>
</tr>
    <hr>

    <p>Playing in games:
    <ol>
        {% for g in games %}
            <li>{{ g.state }} in <a href="{{ g.game.get_absolute_url }}">{{ g.game|safe }}</a></li>
        {% endfor %}
    </ol></p>
{% endblock %}
